.page {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.animationsSelectWrapper {
    position: absolute;
    top: 50px;
    left: 20%;
}

select, label, option {
    font-size: 25px;
}

#bgCanvas {
    background-color: #000;
}

.bgContainer {
    display: grid;
    grid-row-gap: 12px;
    justify-items: center;
    padding: 24px;
}

#rangeInput {
    width: 100%;
}